<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <script type="text/javascript" src="react/dist/react.js"></script>
    <script type="text/javascript" src="react-dom/dist/react-dom.js"></script>
    <script type="text/javascript" src="react/bebel.js"></script>
    <script type="text/babel" src="react-classes/login.jsx"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <style>p.indent{ padding-left: 1.8em }</style> 
  </head>
  <body>
    <div id="entrance-point" align = "center">
    </div>
    <div id="result">
    </div>
  </body>
</html>
