@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
 background: white ; /* fallback for old browsers */
 background: -webkit-linear-gradient(right, #55c8e8 );
 background: -moz-linear-gradient(right, #55c8e8 );
 background: -o-linear-gradient(right, #55c8e8 );
 background: linear-gradient(to left, #55c8e8 );
 font-family: "Roboto", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
#outPopUp {

  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 15;
  top: 30%;
  left: 40%;


}
#centered {
   text-align:center;
}
#h1pad{
    padding-left: 20px;
    padding-bottom : 40px;
}

#border {
   /*border:250px;*/
   padding: 60px;
   border-style: solid;
   border-width: 2px;

   box-shadow: 10px 10px 5px #888888;
}
#putpadd{
  padding-top: 120px;
}

#leftd {
   color: white;
   float: left;
   clear: none;
}
#txt{
 border-color:#55c8e8;
}
#report-upload-form{
    padding-left:6px;
    width:125px;
    display:inline-block
}
#patty{
  padding-left:  10px;
  padding-right: 10px;
  padding-bottom: 30px;
   border-style: solid;
  border-width: 1px;
  background-color: blue
}
#rightd{
  text-align: right;
  color: white;
}

#but {
    background-color:#55c8e8; /* Green */
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#butlogout {

    background-color:#55c8e8;
    border: none;
    color: black;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}


#centeredheader {
  margin: 0;
 position: absolute;               /* 2 */
 left: 46%;
 top: 30%;                         /* 3 */
 transform: translate(0, -50%)
}
